.white-background {
    -fx-background-color: #fff;
}
.right-side-border{
    -fx-border-color: #6F6F6F;
    -fx-border-width: 0 1 0 0;
}
.search-contrainer{
    -fx-border-color: #6F6F6F;
    -fx-border-radius: 30;
}
.Btn {
    -fx-background-color: rgba(0,0,0,0);
}
.primary-color{
    -fx-background-color: #EFF2F6;

}
.card {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}
.transparent {
    -fx-background-color: transparent;
}
.card2 {
    -fx-background-color: #CDC2BE;
    -fx-background-radius: 10;
}
.Btn:hover, .Btn:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #bc5f6a;
    -fx-border-color: #bc5f6a;
    -fx-border-width: 0px;
    -fx-font-weight: bold;

}