.boutton {
    -fx-background-radius: 30;
    -fx-background-color: #bc5f6a;

}
.textInput {
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-label-float: true;
    -fx-border-color: transparent transparent #bc5f6a transparent;
}
.datePicker {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-label-float: true;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) #bc5f6a rgba(0,0,0,0);
}