.parent {
  -fx-background-color: #cdc2be;
}
.sidebar {
  -fx-background-color: #408080;
}
.forget {
  -fx-underline: true;
  -fx-underline-color: #593a37;
  -fx-background-color: rgba(0,0,0,0);
}
.forget:hover {
  -fx-text-fill: #bc5f6a;
}
.loginBtn {
  -fx-background-color: #cdc2be;
  -fx-text-fill: #593a37;

}
.register {
  -fx-background-color: rgba(0,0,0,0);
  -fx-text-fill: #eeae92;
}
.loginBtn:hover {
  -fx-background-color: transparent;
  -fx-text-fill: #bc5f6a;
  -fx-border-color: #bc5f6a;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  /*-fx-font-weight: bold;*/
}
.textField {
  -fx-background-color: rgba(0,0,0,0);
  -fx-background-insets: 0, 0 0 0 0;
  -fx-background-radius: 0;
  -fx-label-float: true;
  -fx-border-color: transparent transparent #bc5f6a transparent;
}
.textField:focused {
  -fx-border-color: transparent transparent #bc5f6a transparent;
  -fx-background-color: -fx-focus-color, -fx-background;
}
.password-field {
  -fx-background-color: transparent;
  -fx-padding: 0 0 -1 0;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-background-radius: 0;
  -fx-label-float: true;
  -fx-border-color: transparent transparent #bc5f6a transparent;
}
.password-field:focused {
  -fx-background-insets:0, 0 0 0 0;
  -fx-border-color: transparent transparent #bc5f6a transparent;
-fx-background-color: transparent;}
{
  -fx-darkest-grey-color: #bc5f6a;
}
.radio-button .radio {
  -fx-border-width: 1px;
  -fx-border-color: #593a37;
  -fx-background-color: white;
  -fx-background-image: null;
  -fx-border-radius: 15px;
  -fx-padding: 3px;
}
.radio-button .radio:selected {
  -fx-background-color: #50b1b0;
  -fx-background-image: null;
}
.radio-button -radio:armed {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button -radio:determinate {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button -radio:indeterminate {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button .dot {
  -fx-background-radius: 15px;
  -fx-padding: 8px;
}
.radio-button:selected .radio .dot {
  -fx-background-color: #50b1b0;
  -fx-background-insets: 0;
}
.error-text {
  -fx-fill: green; /* Couleur du texte en vert */
}
