.parent {
  -fx-background-color: #cdc2be;

}
.sidebar {
  -fx-background-color: #408080;
}
.forget {
  -fx-underline: true;
  -fx-underline-color: #593a37;
  -fx-background-color: rgba(0,0,0,0);
}

/* Hover effect for the forget button */
.forget:hover {
  -fx-text-fill: #bc5f6a;
}

.loginBtn {
  -fx-background-color: #cdc2be;
  -fx-text-fill: #593a37;
}
.register {
  -fx-background-color: rgba(0,0,0,0);
  -fx-text-fill: #eeae92;
}
.register:hover {
  -fx-text-fill: #bc5f6a;
}

.loginBtn:hover  {
  -fx-background-color: transparent;
  -fx-text-fill: #bc5f6a;
  -fx-border-color: #bc5f6a;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  /*-fx-font-weight: bold;*/

}
.transparent {
  -fx-background-color: rgba(0,0,0,0);
}

.textField {
  -fx-background-color: -fx-text-box-border, -fx-background;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-background-radius: 0;
  -fx-label-float: true;
  -fx-border-color: transparent transparent #bc5f6a transparent;
}

.textField:focused {
  -fx-border-color: transparent transparent #bc5f6a transparent;
  -fx-background-color: -fx-focus-color, -fx-background;
}

.password-field {
  -fx-background-color: transparent;
  -fx-padding: 0 0 -1 0;
  -fx-background-insets: 0, 0 0 0 0;
  -fx-background-radius: 0;
  -fx-label-float: true;
  -fx-border-color: transparent transparent #bc5f6a transparent;
}

.password-field:focused {
  -fx-background-insets:0, 0 0 0 0;
  -fx-border-color: transparent transparent #bc5f6a transparent;
-fx-background-color: transparent;}


